august15/src/main/mule/august15.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1ae4e86-07fc-49b7-a3e4-5adf62ed22c4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="august15Flow" doc:id="1b83ae4d-73aa-4fca-937d-ae06325a1791" >
		<http:listener doc:name="Listener" doc:id="dc984501-cef1-40e1-a9ec-464d8ba2e2b0" config-ref="HTTP_Listener_config" path="/aug"/>
		<ee:transform doc:name="Transform Message" doc:id="cb8a8138-bf0e-4548-8655-fdfabdf67887" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"This a miracle"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7bd9de52-24b2-410e-af3d-08d86b4b97d9" message="#[payload]"/>
	</flow>
</mule>
